<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
  <div class="card-header text-center py-4">
    <h1 class="font-bold text-4xl">Sign in</h1>
  </div>
  <div class="card-body">
    <%= form_with url: session_url, class: "" do |form| %>
    <fieldset class="fieldset">
      <label class="label">Email</label>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input" %>
      <label class="label">Password</label>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input" %>
      <div><%= link_to "Forgot password?", new_password_path, class: "link link-hover" %></div>
      <%= form.submit "Sign in", class: "btn btn-neutral mt-4" %>
    </fieldset>
    <% end %>
  </div>
</div>